
@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/subset-GothamPro-BlackItalic.eot');
	src: url('../fonts/subset-GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-GothamPro-BlackItalic.woff') format('woff'),
		url('../fonts/subset-GothamPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('../fonts/subset-GothamProNarrow-Medium.eot');
	src: url('../fonts/subset-GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-GothamProNarrow-Medium.woff') format('woff'),
		url('../fonts/subset-GothamProNarrow-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/subset-GothamPro-Light.eot');
	src: url('../fonts/subset-GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-GothamPro-Light.woff') format('woff'),
		url('../fonts/subset-GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/subset-GothamPro-Black.eot');
	src: url('../fonts/subset-GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-GothamPro-Black.woff') format('woff'),
		url('../fonts/subset-GothamPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/subset-GothamPro.eot');
	src: url('../fonts/subset-GothamPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-GothamPro.woff') format('woff'),
		url('../fonts/subset-GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('../fonts/subset-GothamProNarrow-Bold.eot');
	src: url('../fonts/subset-GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-GothamProNarrow-Bold.woff') format('woff'),
		url('../fonts/subset-GothamProNarrow-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/subset-GothamPro-Medium.eot');
	src: url('../fonts/subset-GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-GothamPro-Medium.woff') format('woff'),
		url('../fonts/subset-GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/subset-GothamPro-Bold.eot');
	src: url('../fonts/subset-GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-GothamPro-Bold.woff') format('woff'),
		url('../fonts/subset-GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/subset-GothamPro-Italic.eot');
	src: url('../fonts/subset-GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-GothamPro-Italic.woff') format('woff'),
		url('../fonts/subset-GothamPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/subset-GothamPro-BoldItalic.eot');
	src: url('../fonts/subset-GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/subset-GothamPro-BoldItalic.woff') format('woff'),
		url('../fonts/subset-GothamPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
