

@import "../../node_modules/normalize.css/normalize.css";

@import "./font.scss";

// ------------------------------------
//      V A R I A B L E S
// ------------------------------------

$font-family: "Gotham Pro", Helvetica, Arial, sans-serif;
$font-color: #222;
$base-font-size: 14px;

$container-width: 1200px;
$color-red: #ca2747;

// ------------------------------------
//      B A S I C   S T Y L E S
// ------------------------------------
* {
    box-sizing: border-box;
    outline: none 0;
}

body {
    font-family: $font-family;
    color: $font-color;
    font-size: $base-font-size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

.container {
    width: $container-width;
    margin: 0 auto;
}


// ------------------------------------
//          T Y P O G R A P H Y
// ------------------------------------

.color_red {
    color: $color-red;
}

.link {
    color: $color-red;
    font-weight: 500;
}
// ------------------------------------
//          B L O C K S
// ------------------------------------



.btn {
    font-size: 22px;
    border-radius: 5px;
    background: darken($color-red, 10%);
    color: #fff;
    border: 1px solid transparent;
    padding: 10px 30px;
    cursor: pointer;
    text-decoration: none;
    transition: all 230ms ease;
    &:hover {
        background: lighten($color-red, 5%);
    }
}



.ipad {
    background: url('../img/ipad.png') no-repeat left center;
    width: 689px;
    height: 977px;
    position: relative;       
    transform: scale(0.95);
    &:before {
        content: "";
        position: absolute;
        width: 608px;
        height: 811px;
        background: #bd0025;
        top:82px;
        left:40px;
        opacity: 0.4;
        backdrop-filter: contrast(180%) brightness(90%) saturate(170%);
        
    }
    &-form {
        position: absolute;
        width: 608px;
        height: 811px;
        top:82px;
        left:40px;
        color: #fff;
        padding: 35px;
        &__title {            
            color: #f9f9f9;
            //font-family: "Gotham Pro";
            font-size: 24px;
            font-weight: 500;            
            letter-spacing: -0.6px;
            padding-bottom: 15px;
        }
        &__row {
            display: flex;
            padding-bottom: 20px;
            &.row_center {
                justify-content: center;
            }
            &.row_reg {
                padding-top: 40px;
            }
        }
        &__col {
            flex-grow: 1;
            &:first-child {
                padding-right: 10px;
            }
            &:last-child {
                padding-left: 10px;
            }
            &.col_vertical {
                display: flex;
                flex-direction: column;
            }
            &.col_politics {
                max-width: 60%;
                label {
                    align-items: flex-start;
                    margin-bottom: 15px;
                    input[type=checkbox] {
                        margin-top: 3px;
                    }
                    span {
                        font-size: 12px;
                        line-height: 1.3;
                        letter-spacing: 0.3px;
                    }
                }
            }
        }

        input[type=text], input[type=email], input[type=password] {        
            width: 100%;
            border: 1px solid transparent;
            margin-bottom: 10px;
            padding: 6px 10px;
        }
        label {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            input[type=checkbox] {
                margin-right: 8px;
            }
        }
    }

    @media (max-width: 1440px) {        
        transform: scale(0.85);
    }
    @media (max-width: 1360px) {
        transform: rotate(-90deg);
        margin: -90px 0;
        &-form {
            transform: rotate(90deg);
            height: 608px;
            width: 812px;
            top:183px;
            left: -62px;
            .row_reg {
                padding-top: 20px;
            }
        }
    }  
    @media (max-width: 1360px) {        
        width: 100%;  
        height: auto;      
        transform: none;
        margin: 0;
        background: transparent;
        &:before {
            //display: none;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
        }
        &-form {
            transform: none;
            position: inherit;
            left: auto;
            top: auto;
            width: 100%;
            height: auto;
        }
    }
    @media (max-width: 600px) {
        &-form {
            .row_inputs {
                flex-direction: column;                
            }
            &__col {
                &:first-child {
                    padding: 0 0 20px 0;
                }
                &:last-child {
                    padding: 0;
                }
            }
        }
    }
}


.title {
    font-weight: 900;
    font-size: 48px;
    padding: 0;
    margin: 0;
    line-height: 1;
    span {
        color: $color-red;
    }
    @media (max-width: 1360px) {
        font-size: 36px;          
    }
    
}

.subtitle {    
    color: #504c51;    
    font-size: 16px;    
    //font-family: "Gotham Pro";    
    font-weight: 500;
    letter-spacing: -0.8px;
}


.header {
    display: flex;
    //align-items: center;
    &__logo {
        margin-top: 5px;
    }
    &__title {
        margin-left: -40px;
        line-height: 0.9;
    }
    @media (max-width: 1360px) {
        &__logo {
            margin-left: -50px;
        }
        &__title {
            margin-left: 30px;            
        }
    }
    @media (max-width: 500px) {
        flex-direction: column;
        &__logo {
            margin: 0;
        }
        &__title {
            margin: 0;
            padding: 20px 0 0;
            .subtitle {
                display: block;
                padding-top: 10px;
            }
        }
    }
}

.logo {
    position: absolute;
    display: inline-block;    
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    @media (max-width: 1440px) {
        transform: translate(-50%, -50%) scale(0.8);
    }
    @media (max-width: 1360px) {
        position: relative;
        left: auto;
        top: auto;
        transform: none;    
        > img {
            width: 96px;
        }            
    }
}


// ------------------------------------
//          S E C T I O N S
// ------------------------------------

.home {
    display: flex;
    min-height: 100vh;
    &__left, &__right {
        width: 50%;   
        flex-grow: 1;     
    }
    &__left {
        padding: 40px 80px;
        background: #f9f9f9;
    }
    &__right {
        background: #ccc url('../img/bg.png') no-repeat center;
        position: relative;   
        display: flex;
        justify-content: center;
        align-items: center;     
    }
    &__content {
        padding-top: 40px;
    }


    &-benefit {
        &__title {                        
            color: #35283a;            
            font-size: 48px;
            font-weight: 700;            
            letter-spacing: -1.5px;    
            position: relative;
            &:before {
                content: "";
                position: absolute;
                width: 100px;
                height: 4px;
                background: $color-red;
                top: calc(50% - 6px);
                right: calc(100% + 40px);
            }                    
        }
        &__content {            
            color: #4a474b;            
            font-weight: 400;            
            font-size: 16px;
            letter-spacing: -0.4px;
            line-height: 22px;  
            ul {
                list-style-position: outside;
                padding: 0;
            }                  
        }

        &_links {            
            .link {
                margin-right: 20px;
            }
        }
    }

    @media (max-width: 1360px) {
        flex-direction: column;
        &__left, &__right {
            width: 100%;
        }

        &__right {
            background: url('../img/bg_landscape.png') no-repeat center;
            background-size: cover;
        }

        &-benefit {
            &__title {
                font-size: 36px;
            }
        }
    }
}


